name: CI
on:  [workflow_dispatch, pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        name: Set up Python
        with:
          python-version: "3.10"
      - name: Install torch first
        run: pip install torch --extra-index-url https://download.pytorch.org/whl/cpu
      - name: Install torch cluster
        run: pip install --verbose --no-index torch-cluster -f https://download.pytorch.org/whl/cpu   
      - name: Install repo
        run: pip install -e '.[dev]' 